@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
}

body {
    background-color: #2a662f;
}

header {
    background: #df620e;
    padding: 20px;
}

header>h1 {
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;
}


.container {
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 600px;
}

.score-board {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 40%;
    height: 40%;
    border-radius: 8px;
    border: 8px solid white;
}

/**

.score-board {
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    position: relative;
}

**/

.badge {
    background: #df620e;
    color: white;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 25px;
    margin-bottom: 20px;
}

.user-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/**
#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -25px;
}
**/

.rules {
    font-size: 25px;
    color: white;
    margin-top: 2rem;
}

.rules>p {
    text-align: center;
    font-weight: bold;
}


.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    border: 4px solid #df620e;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    background-color: white;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #909220;
}


#action-message {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-transform: capitalize;
}